body{
    text-align: center;
    color: rgb(50,0,13);
    background-color: rosybrown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,h2,h3{
    text-align: center;
    color: blue;
}
a
{
	text-decoration: none;
	color: rgb(109, 113, 46);
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: rgb(255, 91, 46);
}
div{

    background-color: lightgrey;
    width: 460px;
    height: 350px;
    border: 10px ridge grey;
    padding: 25px;
    margin: 35px;
    }
    img {
    float: right;
    }
